*{
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

header
{
background-color: #ccc;
width: 100%;
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}

.logo{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
}
.navigation a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    padding: 5px;
}

.navigation a:hover{
    color: red;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/unnamed.png);
}

.main h2,
.main h3,
.main h5{
color: white;
margin: 8px;
}

.main-button{
    color: white;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    border-radius: 15px;
    padding: 0.9357em 2.1875em;
    margin: 8px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.main-button:hover{
    background-color: #0e48e8;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social-icons a{
    color: white;
    margin: 8px;
    font-size: 1.3em;
}


/* services */
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 15px #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow:  0 5px 15px black;
}

.card .icon{
    color: #3a6cf4;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font: 1.2em;
    font-weight: 600;
    margin: 10px;
}

/* project */

.project{
    background-color: #000016;
}

.project .content{
    margin-top: 30px;
}

.project-card{
    background-color: white;
    border: 1px solid white;
    min-height: 4em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.project-card img{
    width: 100%;
}

.project-card .project-info{
    padding: 1em;
    text-align: center;
}

.project-title a{
    color: #3a6cf4;
    text-decoration: none;
}
.footer{
    background-color: #000016;
    color: white;
    padding: 1.5em;
}

.footer p{
    font-size: 1.2em;
}

.footer p span{
    color: #3a6cf4;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.social-icons-footer{
    color: white;
    font-size: 1.5em;
}


/* media */
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}